build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/ImageCompareConfig.cmake
build/libImageCompare.so
build/Makefile
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/CMakeRuleHashes.txt
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.15.5/CMakeCCompiler.cmake
build/CMakeFiles/3.15.5/CMakeCXXCompiler.cmake
build/CMakeFiles/3.15.5/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.15.5/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.15.5/CMakeSystem.cmake
build/CMakeFiles/3.15.5/CompilerIdC/a.out
build/CMakeFiles/3.15.5/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.15.5/CompilerIdCXX/a.out
build/CMakeFiles/3.15.5/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/Export/share/ImageCompare/cmake/ImageCompareConfig-debug.cmake
build/CMakeFiles/Export/share/ImageCompare/cmake/ImageCompareConfig.cmake
build/CMakeFiles/ImageCompare.dir/build.make
build/CMakeFiles/ImageCompare.dir/cmake_clean.cmake
build/CMakeFiles/ImageCompare.dir/CXX.includecache
build/CMakeFiles/ImageCompare.dir/depend.internal
build/CMakeFiles/ImageCompare.dir/depend.make
build/CMakeFiles/ImageCompare.dir/DependInfo.cmake
build/CMakeFiles/ImageCompare.dir/flags.make
build/CMakeFiles/ImageCompare.dir/link.txt
build/CMakeFiles/ImageCompare.dir/progress.make
build/CMakeFiles/ImageCompare.dir/ImageCompare_autogen/mocs_compilation.cpp.o
build/CMakeFiles/ImageCompare.dir/src/imagecompare.cc.o
build/CMakeFiles/ImageCompare.dir/src/comparemethod/basecompare.cc.o
build/CMakeFiles/ImageCompare.dir/src/comparemethod/codestats_2014.cc.o
build/CMakeFiles/ImageCompare_autogen.dir/AutogenInfo.cmake
build/CMakeFiles/ImageCompare_autogen.dir/AutogenOldSettings.txt
build/CMakeFiles/ImageCompare_autogen.dir/build.make
build/CMakeFiles/ImageCompare_autogen.dir/cmake_clean.cmake
build/CMakeFiles/ImageCompare_autogen.dir/depend.internal
build/CMakeFiles/ImageCompare_autogen.dir/depend.make
build/CMakeFiles/ImageCompare_autogen.dir/DependInfo.cmake
build/CMakeFiles/ImageCompare_autogen.dir/ParseCache.txt
build/CMakeFiles/ImageCompare_autogen.dir/progress.make
build/CMakeFiles/Progress/1
build/CMakeFiles/Progress/2
build/CMakeFiles/Progress/3
build/CMakeFiles/Progress/4
build/CMakeFiles/Progress/5
build/CMakeFiles/Progress/6
build/CMakeFiles/Progress/7
build/CMakeFiles/Progress/8
build/CMakeFiles/Progress/9
build/CMakeFiles/Progress/10
build/CMakeFiles/Progress/count.txt
build/ImageCompare_autogen/moc_predefs.h
build/ImageCompare_autogen/mocs_compilation.cpp
build/example/cmake_install.cmake
build/example/Makefile
build/example/CMakeFiles/CMakeDirectoryInformation.cmake
build/example/CMakeFiles/progress.marks
build/example/CMakeFiles/ImageCompareExample.dir/build.make
build/example/CMakeFiles/ImageCompareExample.dir/cmake_clean.cmake
build/example/CMakeFiles/ImageCompareExample.dir/CXX.includecache
build/example/CMakeFiles/ImageCompareExample.dir/depend.internal
build/example/CMakeFiles/ImageCompareExample.dir/depend.make
build/example/CMakeFiles/ImageCompareExample.dir/DependInfo.cmake
build/example/CMakeFiles/ImageCompareExample.dir/flags.make
build/example/CMakeFiles/ImageCompareExample.dir/link.txt
build/example/CMakeFiles/ImageCompareExample.dir/progress.make
build/example/CMakeFiles/ImageCompareExample.dir/ImageCompareExample_autogen/mocs_compilation.cpp.o
build/example/CMakeFiles/ImageCompareExample.dir/src/main.cc.o
build/example/CMakeFiles/ImageCompareExample_autogen.dir/AutogenInfo.cmake
build/example/CMakeFiles/ImageCompareExample_autogen.dir/AutogenOldSettings.txt
build/example/CMakeFiles/ImageCompareExample_autogen.dir/build.make
build/example/CMakeFiles/ImageCompareExample_autogen.dir/cmake_clean.cmake
build/example/CMakeFiles/ImageCompareExample_autogen.dir/depend.internal
build/example/CMakeFiles/ImageCompareExample_autogen.dir/depend.make
build/example/CMakeFiles/ImageCompareExample_autogen.dir/DependInfo.cmake
build/example/CMakeFiles/ImageCompareExample_autogen.dir/ParseCache.txt
build/example/CMakeFiles/ImageCompareExample_autogen.dir/progress.make
build/example/ImageCompareExample_autogen/moc_predefs.h
build/example/ImageCompareExample_autogen/mocs_compilation.cpp
build/CMakeFiles/ImageCompare.dir/src/comparemethod/none.cc.o
build/CMakeFiles/ImageCompare.dir/home/gmatczak/Dropbox/Programowanie/C++/QT/IncludeSpdlog/spdlog.cc.o
build/CMakeFiles/ImageCompare.dir/src/main.cc.o
build/CMakeFiles/CMakeError.log
.vscode/settings.json
build/ImageCompare
